<div class="wrapper">
	<div class="about">
		<div class="about__title title"><img id="main-logo" src="/img/icons/logo.png" alt="logo" /> Многостраничный веб сайт</div>
		<div class="about__row row">
			<div class="about__menu menu">
				{{>menu}}
			</div>
			<div class="about__content content">
				<p>
					Данный веб сайт предоставляет возможность просмотра списков различных моделей данных, добавление новых экземпляров, а также редактирование и удаление уже существующих.
				</p>
				<p>
					Поддерживается работа с такими моделями данных:
					<br>
					<b>User</b>, <b>University</b>
				</p>
				<ul>
					Модель <b>User</b> содержит:
					<li>- login</li>
					<li>- id</li>
					<li>- fullname</li>
					<li>- role</li>
					<li>- registration date</li>
					<li>- avatar</li>
				</ul>
				<ul>
					Модель <b>University</b> содержит:
					<li>- id</li>
					<li>- name</li>
					<li>- country</li>
					<li>- num of students</li>
					<li>- campus</li>
					<li>- foundation date</li>
					<li>- image</li>
				</ul>

				<br>
				<p class="about-author">Автор сайту: КП-93 Катрич Владислав</p>
			</div>
		</div>
	</div>
</div>