@import '../../../../utils/colors.scss';

.room {
	display: flex;
	flex: 0 1 49%;
	flex-direction: column;

	padding: 5px;
	cursor: pointer;
	border: 1px solid #333;
	border-radius: 10px;
	background-color: $font-color;

	&:hover {
		transform: scale(1.01);
		opacity: 0.95;
	}
	& > * {
		color: white;
	}

	&-owner {
		background-color: rgb(55, 100, 184);
	}

	&__open {
		align-self: flex-end;
		margin: 0 10px 0 0;
	}
}
