<div class="wrapper">
	<div class="home">
		<div class="home__title title"><img id="main-logo" src="/img/icons/logo.png" alt="logo" />Joclob</div>
		<div class="home__row row">
			<div class="home__menu menu">
				{{>menu}}
			</div>
			<div class="home__content content">
				Основным предназначением сайта является возможность CRUD доступа к ресурсам веб-сервера. <br>
				А если точнее, то возможность взаимодействия с такими моделями как:
				<ul>
					<li>- <em>User</em>,</li>
					<li>- <em>University</em>,</li>
					<li>- <em>Specilatiy</em>.</li>
				</ul>
			</div>
		</div>
	</div>
</div>